@font-face {
    font-family: "Druk Wide Bold";
    src: url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot");
    src: url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/2206d6cc490084998d531e8c1b2cbb4a.svg#Druk Wide Bold")format("svg");
}

@font-face {
    font-family: "Neue Montreal Regular";
    src: url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.eot");
    src: url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/7980cc1889b6b0b264dc47cca659f7c2.svg#Neue Montreal Regular")format("svg");
}

@font-face {
    font-family: "Neue Montreal Bold";
    src: url("https://db.onlinewebfonts.com/t/1a991b240e707c46ca904d731893f108.eot");
    src: url("https://db.onlinewebfonts.com/t/1a991b240e707c46ca904d731893f108.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/1a991b240e707c46ca904d731893f108.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/1a991b240e707c46ca904d731893f108.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/1a991b240e707c46ca904d731893f108.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/1a991b240e707c46ca904d731893f108.svg#Neue Montreal Bold")format("svg");
}

@font-face {
    font-family: "Neue Montreal Light";
    src: url("https://db.onlinewebfonts.com/t/b2bf6541bf9ab3fc3138440f2bc8b592.eot");
    src: url("https://db.onlinewebfonts.com/t/b2bf6541bf9ab3fc3138440f2bc8b592.eot?#iefix")format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b2bf6541bf9ab3fc3138440f2bc8b592.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/b2bf6541bf9ab3fc3138440f2bc8b592.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/b2bf6541bf9ab3fc3138440f2bc8b592.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/b2bf6541bf9ab3fc3138440f2bc8b592.svg#Neue Montreal Light")format("svg");
}
