.marquee-content {
    font-family: 'Roboto Mono', monospace;
    letter-spacing: 0.1px;
}

.info-about {
    font-size: 28px;
    z-index: 1;
}

.profile-picture {
    background-image: url("../../images/DSCF4075.jpg");
    background-repeat: no-repeat;
    height: 500px;
    width: 320px;
    background-size: cover;
    position: relative;
    transform: rotate(25deg);
    margin-left: 140px;

    .caption {
        font-family: 'Roboto Mono', monospace;      
        color: red;
        position: absolute;
        bottom: 5%;
        right: -80px;
    }

    .number-bubble {
        position: absolute;
        bottom: -10px;
        left: -10px;
        transform: rotate(-25deg);
    }
}
