.title-container {
    background: white;
    color: black;
    display: flex;
    filter: blur(1px);
    margin: 28px;
    position: absolute;
    z-index: 99;
}

.first-name {
    font-family: 'Roboto Mono', monospace;
    font-size: 52px;
    letter-spacing: .05px;
    line-height: 1;
    text-transform: uppercase;
}

.subcopy {
    font-family: "Neue Montreal Light";
    font-size: 14px;
}
