.title-container {
    display: flex;
    position: absolute;
    margin: 28px;
}

.first-name {
    font-family: 'Roboto Mono', monospace;
    font-size: 52px;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .05px;
}

.subcopy {
    font-family: "Neue Montreal Light";
    font-size: 14px;
}
