// Universal style properties from: https://dev.to/gautham495/universal-css-properties-everyone-must-use-4kie
@import "../assets/fonts/fonts.scss" ;

*,
*:before,
*:after {
    box-sizing:border-box;
    margin:0;
    padding:0;
}

body {
    background-color: black;
    color: white;
}

input,
textarea {
    outline: none;
}

button,
input[type="submit"] {
    border: none;
    outline: none;
}

button:hover,
input[type="submit"] {
    cursor: pointer;
    transform: translateY(-0.25em);
}

li,
a {
    color: white;
    text-decoration: none;
}

p {
    font-family: 'Roboto Mono', monospace;      
}

li {
    list-style: none;
}

.flex-container {
    display: flex;
    flex-direction: row;
}

.main-container {
    width: 100%;
}

.header-wrapper {
    width: auto;
}

.section-container {
    max-width: 1140px;
    padding: 0 28px;
    width: 100%;
    position: relative;
    margin: auto;
    margin-bottom: 120px;
}

.section-full {
    height: 90vh;
}

.number-badge {
    font-family: "Tungsten-Bold";
    font-size: 80px;
}

.subheadline {
    font-family: 'Roboto Mono', monospace;
    font-size: 52px;
    margin: 0 0 80px 60px;
    text-transform: uppercase;

    span {
        font-size: 14px;
    }
}

.display-grid--50 {
    display: grid;
    grid-template-columns: 2fr 2fr;
}
