.header-container {
    align-items: center;
    background: white;
    color: black;
    display: flex;
    font-family: "Neue Montreal Regular";
    font-weight: 600;
    height: 100%;
    justify-content: space-between;
    position: sticky;
    right: 0;
    top: 0;
    writing-mode: vertical-rl;
    z-index: 900;

    a {
        cursor: pointer;
        margin: 20px 0;

        span {
            font-family: "Neue Montreal Regular";
            font-size: 12px;
        }

        &:visited {
            color: black;
        }
    }
}

.header-flex {
    display: flex;
    justify-content: space-around;
}

.top-header-container {
    align-items: center;
    background: black;
    color: white;
    display: flex;
    justify-content: space-between;
    padding: 24px 16px;
    width: 100%;

    .top-text {
        cursor: pointer;
        font-weight: 600;
        margin-bottom: 20px;

        &:hover {
            text-decoration: underline;
        }
    }

    .top-arrow {
        writing-mode: horizontal-tb;
    }
}
