.header-container {
    display: flex;
    padding: 24px 28px;
}

.first-name {
    font-family: "Druk Wide Bold";
    font-size: 32px;
    letter-spacing: 1em;
    text-transform: uppercase;
}

.subcopy {
    font-family: "Neue Montreal Light";
    font-size: 14px;
}
