.footer-container {
    bottom: 0;
    left: 0;
    padding: 24px 28px;
    position: fixed;
    width: 100%;
}

.footer-subcopy {
    font-family: "Neue Montreal Light";
}

.footer-connect {
    font-family: "Neue Montreal Bold";
    margin-right: 12px;
}

.footer-connect-wrapper {
    align-items: center;
    display: flex;
    padding-bottom: 14px;
}
