.footer-copy {
    padding-bottom: 16px;
    text-align: right;
}

.footer-subcopy {
    font-family: 'Roboto Mono', monospace;
    text-transform: uppercase;
}

.footer-closing { 
    border-top: 1px solid white;
    padding-top: 16px;
}

.footer-container {
    padding: 28px;
}
